* {
    border: none;
    border-radius: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
    transition: background-size 0.3s ease;
}

.horizontal {
    margin-top: 2px;
}

.modules-left {
    padding-left: 26px;
    padding-right: 22px;
    border-color: white;
    border-style: solid;
    border-width: 4px 0px 0px;
}

.modules-center {
    margin: 2px;
}

.modules-right {
    padding-right: 22px;
    padding-left: 22px;
    border-color: white;
    border-style: solid;
    border-width: 4px 0px 0px;
}

#waybar {
    background: transparent;
}

#custom-border {
    margin-right: 4px;
    border-left: dashed white 4px;
}

#custom-nixos,
#custom-notification {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    color: black;

    margin: 4px 4px 0px 0px;
    padding-left: 6px;
    padding-right: 12px;

    background: linear-gradient(to top,
            white 0%,
            white 100%) no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    border: solid white 2px;
}

#custom-nixos:hover,
#custom-notification:hover {
    color: white;
    background-size: 100% 0%;
}

#custom-nixos:not(:hover),
#custom-notification:not(:hover) {
    background-position: bottom center;
}

#workspaces {
    font-family: "Stray";
    padding-right: 4px;
}

#workspaces button {
    font-size: 12px;
    min-width: 13px;
    min-height: 32px;
    margin-top: 2px;
    padding: 0px 5px;
    color: white;

    background: linear-gradient(to top,
            white 0%,
            white 100%) no-repeat;
    background-size: 100% 0%;
    background-position: bottom center;
}

#workspaces button.focused {
    font-size: 18px;
    min-width: 26px;
    color: black;
    background-size: 100% 100%;
}

#workspaces button:not(.focused) {
    background-position: top center;
}

#taskbar {
    font-family: "JetBrainsMono Nerd Font";
    padding-right: 4px;
}

#taskbar button {
    font-size: 18px;
    color: white;
    margin-top: 2px;
    padding-left: 4px;
    background: linear-gradient(to top,
            white 0%,
            white 100%) no-repeat;
    background-size: 100% 0%;
    background-position: bottom center;
}

#taskbar button.active,
#taskbar button:hover {
    font-size: 22px;
    padding-left: 8px;
    padding-right: 4px;
    color: black;
    background-size: 100% 100%;
}

#taskbar button:not(.active) {
    background-position: top center;
}

#clock {
    font-family: "Maple Mono";
    font-weight: bold;
    font-size: 24px;
    margin-top: 2px;
    padding: 0px 6px;
    color: black;
    background: white;
}

#custom-cpu,
#custom-gpu,
#memory,
#custom-ping,
#custom-pipewire,
#battery {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    margin: 4px 4px 0px 0px;
    padding: 0px 4px;
    color: black;
    background: white;
}