include "nix-generated-config.kdl"

// Everything below are overrides to the final nix config
// or experimental features not supported by niri.settings

window-rule {
  background-effect {
    blur true
    xray false
  }
  geometry-corner-radius 12
  clip-to-geometry true
}

layer-rule {
  match namespace="vicinae"
  shadow {
    on
    softness 30
    spread 10
    offset x=0 y=0
    draw-behind-window true
    color "#00000064"
  }
  background-effect {
    blur true
    xray false
  }
}

layer-rule {
  match namespace="^noctalia-background.*"
  background-effect {
    blur true
    xray false
  }
}